@model AssignmentStudent.Models.Student




<form asp-controller="Home" asp-action="Create" method="post">
    <div>
        <label asp-for="id"></label>
        <input asp-for="id" />
    </div>
    <div>
        <label asp-for="name"></label>
        <input asp-for="name" />
    </div>
    <div>
        <label asp-for="department"></label>
        <input asp-for="department" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>

</form>