
@model AssignmentStudent.Models.Student

<html>



<form asp-controller="" asp-action="Edit" method="post">
    <input hidden asp-for="id"/>
    <div>
        <label asp-for="name"></label>
        <input asp-for="name" />
    </div>
    <div>
        <label asp-for="department"></label>
        <input asp-for="department" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>

</form>


