@model AssignmentStudent.Models.Student

<html>
<head>
    <body>

        <div>@ViewBag.Student.id</div>
        <div>@ViewBag.Student.name</div>
        <div>@ViewBag.Student.department</div>

    </body>
</head>
</html>
