@model AssignmentStudent.Models.Student

<html>
<head>
    <body>
    
        @{ 
            var student = ViewData["Student"] as AssignmentStudent.Models.Student;
        }
     <div>@student.name</div>

    </body>
</head>
</html>
