@model IEnumerable<AssignmentStudent.Models.Student >

<html>
<head>
    <body>
        @foreach (var student in Model)
        {
            <p>@student.id,@student.name,@student.department</p>
            <a href="/Home/Edit?id=@student.id">Edit</a>
            <a href="/Home/Delete?id=@student.id">Delete</a>

        }
    </body>
</head>
</html>
